@import "../../../client/src/common/reset.css";

.nav-bar {
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
}
.nav-bar-category {
	display: flex;
	flex-direction: row;
	align-items: end;
	margin-left: 10px;
	margin-bottom: 10px;
}
.catergory-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.nav-bar-logo img {
	width: 200px;
	height: 210px;
	margin-left: 210px;
}

.nav-bar-feature {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-right: 10px;
	margin-bottom: 10px;
}

.login,
.my-page,
.basket {
	width: 0px;
	display: flex;
	flex-direction: row;
	align-items: end;
	padding: 0 42px;
}

.slides {
	list-style: none;
	padding: 0;
	margin: 0;
}

.slides img {
	width: 100%;
	height: 450px;
}

.thumb-bnner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

.thumb-bnner-list {
	margin-top: 20px;
}

.item-list {
	margin: 0 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-content {
	margin-bottom: 20px;
	position: relative;
}

.item-content img {
	height: 400px;
	width: 400px;
}

.btn,
.btn-primary {
	display: none;
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
	position: absolute;
	/* left: 5px; */
	top: 351px;
	width: 400px;
	border-radius: 5px;
}

.btn-primary:hover {
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.btn-primary:active {
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.image:hover .btn {
	display: block;
	background-color: #edcfc4;
	border: 1px solid #edcfc4;
}

.description {
	padding: 10px 0px;
	text-align: center;
}

.name {
	color: #555555;
}

.slide-section {
	display: flex;
	margin-top: 25px;
}

.high-group button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s; /* 부드러운 효과를 위한 전환(transition) */
}

.silde-section-text {
	flex-direction: row;
	margin-left: 20px;
}
.slide-control {
	flex-direction: row;
	margin-left: 30px;
}

.silde-section-text button:hover {
	color: #be3455;
}
.silde-item-container {
	width: 1280px;
	margin: 0 10px;

	position: relative;
}
.silde-items-wrapper {
	width: 1200px;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
}
.silde-items-wrapper img {
	width: 354px;
	height: 474px;

	margin: 10px 10px;
}

/* 
슬라이드 기능 구현 시 생성해야 할 클래스

.slide-itmes-prev{
}
	.slide-itmes-active{

	}
	.slide-itmes-next{

	}
*/

.recommend-slide-section .silde-section-text {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 25px;
}

/* 
.recommend-slide-section 슬라이드 기능 구현 시 생성해야 할 클래스
	
.recommend-slide-section .slide-itmes-prev{

}	
.recommend-slide-section .slide-itmes-active{

	}	
.recommend-slide-section .slide-itmes-next{

	}
*/
.recommend-slide-section .out-container {
	position: relative;
	margin-bottom: 50px;
}
.recommend-slide-section .slide-control {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 180px;
}
.recommend-slide-section .silde-items-wrapper img {
	width: 350px;
	height: 350px;

	margin: 20px;
}

.recommend-slide-section .slide-control button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s; /* 부드러운 효과를 위한 전환(transition) */
}

.category-item-container {
	border-top: solid gray 2px;
	padding: 20px;
	margin: 30px;

	display: flex;
	flex-direction: column;
}
.category-item-list {
	display: flex;
	justify-content: space-between;
}
.category-item-list img {
	width: 350px;
	height: 350px;

	position: relative;
}
.category-item-list .item-content:nth-of-type(1) .category-name {
	font-size: 34px;
	top: 145px;
	left: 97px;
	position: absolute;
}
.category-item-list .item-content:nth-of-type(2) .category-name {
	font-size: 34px;
	top: 145px;
	left: 108px;
	position: absolute;
}
.category-item-list .item-content:nth-of-type(3) .category-name {
	font-size: 34px;
	top: 145px;
	left: 110px;
	position: absolute;
}
.category-item-list .item-content:nth-of-type(4) .category-name {
	font-size: 34px;
	top: 145px;
	left: 135px;
	position: absolute;
}
.category-item-list .item-content:nth-of-type(5) .category-name {
	font-size: 34px;
	top: 145px;
	left: 92px;
	position: absolute;
}
.category-item-list img:hover {
	transform: scale(1.025);
}
