@import "/client/src/common/reset.css";

.my-page-wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
header {
	width: 100%;
	background-color: #edcfc4;
	height: 150px;
	display: flex;
	align-items: center;
	padding: 50px;
	margin-bottom: 50px;
}

header strong {
	font-size: 28px;
}

.my-page-main {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

aside {
	flex-basis: 20%;
	/* background-color: darkcyan; */
}

aside h2 {
	font-size: 24px;
	margin-bottom: 25px;
}

aside ul {
	margin: 0;
	padding: 0;
}

aside a {
	text-decoration: none;
	color: #000;
}

aside li {
	list-style: none;
	margin-bottom: 20px;
}

.payment-details {
}

.payment-details {
	flex-basis: 70%;
}

h3 {
	font-size: 20px;
	margin-bottom: 25px;
}

.payment-item {
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.payment-product img {
	width: 50px;
}
