@import "../../../client/src/common/reset.css";

h1 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 400;
}

.serv-list {
	padding-top: 70px;
	padding-bottom: 70px;
}

.order-wrap {
	max-width: 1100px;
	margin: auto;
}

div[class$="-info"] {
  background-color: white;
  padding: 30px;
  margin-bottom: 40px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group input {
	border: none;
  border-bottom: 1px solid #e9ecef;
  border-radius: 0;
}

.required {
  color: red;
}

.address input, .btn {
	margin-bottom: 5px;
}

.row-item {
	display: inline-block;
}

input[type=radio] {
  accent-color:#be3455;
}

.table {
  margin: 0px;
}

.table tr {
  border-bottom: 1px solid #f7f7f7;
}

.table td {
  vertical-align: middle;
}

.table img {
  width: 110px;
  height: 110px;
}

.table .count {
  text-align: center;
}

.table .price {
  text-align: right;
}

.table .num {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.total-wrap {
  background-color: #f7f7f7;
  padding: 20px 20px;
}

.fee {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}

.btn-primary {
  background-color: #EDCFC4;
  border: 1px solid #EDCFC4;
  height: 50px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #be3455;
  border: 1px solid #be3455;
}

.btn-primary:active {
  background-color: #be3455;
  border: 1px solid #be3455;
}