@import "../common/reset.css";

.user-info-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-info-wrap h2 {
	font-weight: 300;
	margin-bottom: 50px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group,
.user-birth-wrap {
	margin-bottom: 20px;
}

.form-group input {
	width: 300px;
	border: none;
}

label {
	margin-bottom: 5px;
}

input {
	border: none;
}

input::placeholder {
	font-size: 14px;
}

.change-info {
	border: none;
}

.change-wrap {
	display: flex;
}

.delete-membership {
	display: flex;
	justify-content: start;
	width: 300px;
}

.delete-membership button {
	margin-top: 200px;
	border: none;
	color: grey;
	background-color: none;
}

.info-wrap {
	display: flex;
}

.info-wrap button {
	border-radius: 5px;
	background-color: #edcfc4;
	border: none;
	color: #fff;
	margin-left: 10px;
}

.info-wrap button:hover {
	background-color: #be3455;
	border: 1px solid #be3455;
}
