@import "../../../client/src/common/reset.css";

h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.serv-list {
  padding-top: 70px;
  padding-bottom: 70px;
}

.item-wrap {
  max-width: 1100px;
  margin: auto;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-content {
  height: 330px;
  width: 260px;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
}

.item-content img {
  height: 250px;
  width: 250px;
}

.btn, .btn-primary {
  display: none;
  background-color: #EDCFC4;
  border: 1px solid #EDCFC4;
  position: absolute;
  left: 5px;
  top: 209px;
  width: 250px;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #EDCFC4;
  border: 1px solid #EDCFC4;
}

.btn-primary:active {
  background-color: #EDCFC4;
  border: 1px solid #EDCFC4;
}

.image:hover .btn{
  display: block;
  background-color: #EDCFC4;
  border: 1px solid #EDCFC4;
}

.description {
  padding: 10px 0px;
  text-align: center;
}

.name {
  color: #555555
}